<?xml version="1.0"?>
<robot name="cirtesu" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Define a material with a texture -->
  <material name="cirtesu_material">
    <texture filename="$(find bluerov2_description)/resources/cirtesu/tank_tex.png"/>
  </material>
  <!-- Define the base link with visual and collision elements -->
  <link name="cirtesu_tank">
    <!-- Visual element using vis.obj and the defined material -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://bluerov2_description/resources/cirtesu/cirtesu.dae" scale="1 1 1"/>
      </geometry>
      <material name="cirtesu_material"/>
    </visual>
  </link>
  </robot>

